.title {
    -fx-font-weight: bold;
}

.button {

}

.input {

}

.label {

}

.choice {
    
}

* {
    -fx-font-size: larger;
    -fx-font-family: "Arial";
    -fx-base: #f0f0f0;
    -fx-background: #ffffff;
    -fx-control-inner-background: #ffffff;
}

.root {
    -fx-base: #f0f0f0;
    -fx-background: #ffffff;
    -fx-control-inner-background: #ffffff;
}
